* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

img {
    max-width: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
    text-indent: 0;
}

hr {
    margin: 0;
    padding: 0;
    display: none;
}

/* Layout */
.web-app {
    width: 100%;
    height: 100vh;
    /* debug */
    /* background-color: lightpink; */
}

.web-top {
    width: 100%;
    height: calc(100% - 80px);
    display: flex;
    /* debug */
    /* background-color: lightblue; */
}

.web-bottom {
    width: 100%;
    height: 80px;
    background-color: #282828;
}

/* Common */
.nav-selected {
    border-left: 3px solid #adff2f;
    color: white;

}

.logo-mobile {
    display: none;
}

.white {
    color: white;
}

/* Sidebar */
.sidebar {
    width: 220px;
    height: 100%;
    background-color: black;
    font-weight: bold;
}

.logo {
    padding: 20px;
    width: 80%;
}

.sidebar-nav {
    color: #656565;
    font-size: 0.9rem;
}

.sidebar-nav img {
    display: inline;
    width: 25px;
    vertical-align: middle;
    color: inherit;
}

.sidebar-nav ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 20px;
}

.sidebar-top-nav li {
    line-height: 2em;
    padding-left: 20px;
}

.nav-playlists {
    padding-left: 20px;
    padding-top: 20px;
}

.nav-playlist-title {
    color: white;
    font-size: 1.06em;
}

.nav-new-playlist {
    padding-top: 10px;
    padding-bottom: 10px;

}

.nav-new-playlist span {
    padding-left: 10px;
    font-size: 1.06em;
}

.add-btn {
    color: black;
    font-size: 1.5em;
    background-color: #a3a3a3;
    padding: 5px 9px;
    display: inline-block;
}

ul.nav-playlists {
    display: flex;
    padding-left: 0;
    padding-top: 10px;
    gap: 20px;
    font-size: 0.9
}

.sidebar-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-between
}

.sidebar-bottom {
    margin-left: 20px;
    margin-right: 20px;
    color: #656565;
    /* debug */
    /* background-color: pink; */
    /* height:100px; */
}

.download img {
    width: 20px;
    display: inline;
    vertical-align: middle;
}

.download {
    font-size: 0.8em;
}

.sidebar-bottom hr {
    margin: 10px 0;
}

.profile img {
    width: 25px;
    display: inline;
    vertical-align: middle;
    background-color: #808080;
    border: 1px solid #808080;
    border-radius: 50%;
}

.profile {
    color: white;
    padding-bottom: 10px;
}

.sidebar .nav-new-playlist:hover {
    color: white;
}

.sidebar li:hover {

    color: white;
}

.sidebar li:hover .add-btn {
    background-color: white;
}

.sidebar span:hover {
    color: white;
}

/* Content */
.content {
    width: calc(100% - 220px);
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* Header */
.header {
    width: calc(100% - 220px);
    height: 80px;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
    color: white;
}

.header a {
    line-height: 40px;
    position: absolute;
    right: 20px;
    font-weight: bolder;
    font-size: 0.9em;
    padding: 0px 30px;
    border: 1px solid white;
    border-radius: 20px;

}

.header a:hover {
    transform: scale(1.1)
}

/* Homepage */
.homepage {
    padding-top: 80px;
    width: 100%;
    height: calc(100%);
    background-color: #141922;
    overflow: scroll;
    overflow-x: hidden;
    flex-grow: 1;
    /* debug */
    /* background-color: white; */
}

.nav-homepage {
    color: #7b7d82;
    padding: 20px;
    font-weight: bold;
    font-size: 0.9em;
}

.nav-homepage ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.nav-homepage-selected {
    position: relative;
}

.nav-homepage-selected::after {
    content: "";
    width: 40%;
    height: 0.15em;
    background: #adff2f;
    position: absolute;
    bottom: -6px;
    left: 30px;
}

.main-content {
    padding: 20px;
    color: white;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    width: 100%;
}

.col {
    width: calc(100% / 6);
    padding: 20px;
    /* debug */
    /* height:100px; */
    /* border:1px solid white; */
}

.col-text {
    padding-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 10px;
}

.subtitle {
    font-weight: bold;
    color: #797c80;
}

.rec {
    padding: 20px 0;
}

.rec h2,
.popular h2 {
    padding-bottom: 20px;
}

.popular img {
    border-radius: 50%;
}

.nav-homepage li:hover {
    color: white;
}

.col-image {
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .6);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    z-index: -1;
}

.main-content .col:hover .overlay {
    z-index: 1;
}

.web-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-content {
    padding: 0 15px;
    color: white;
    font-size: 0.8rem;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.footer-content .artist-name {
    color: #797c80;
}


.footer-content .left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
}

.footer-content .left img {
    width: 40px;
}

.footer-content .left .song {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer-content .left .btns {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #797c80;
    font-size: 1.2em;
    font-weight: bold;
}

.footer-content .right {
    display: Flex;
    gap: 20px;
    align-items: center;
}

.right .volume-bar-background {
    width: 120px;

    border-top: 5px solid #797c80;
    border-radius: 10px;

}

.right .volume-bar-container {
    position: relative;
}

.right .volume-bar {
    width: 25%;
    border-top: 5px solid white;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
}

.center {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.center .btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 20px;
}

.center .btns .play {
    font-size: 30px;
}

.center .volume {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    font-size: 0.9em;
}

.center .volume-bar-background {
    width: 400px;
    border-top: 5px solid #797c80;
    border-radius: 10px;
}

.center .volume-bar-container {
    position: relative;
}

.center .volume-bar {
    width: 20%;
    border-top: 5px solid white;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
}

.left .song .artist-name:hover {
    color: white;
}

.left .fav:hover {
    color: white;
}

.left .add-playlist:hover {
    color: white;
}

.center .btns .play:hover {
    transform: scale(1.15)
}

.volume-bar-background:hover .volume-bar {
    border-color: #adff2f
}

.dot {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

/* Responsiveness */

/* Laptops & small screens */
@media screen and (max-width:1024px) {

    .logo-mobile {
        display: none;
    }

    .col {
        width: calc(100% / 4)
    }
}


/* iPads and Tablets  */

@media screen and (max-width:768px) {
    .logo-mobile {
        display: none;
    }

    .col {
        width: calc(100% / 2)
    }

    .center .volume-bar-background {
        width: 150px;
    }

    .footer-content .left .btns {
        flex-direction: column;
        gap: 0px;
    }
}


/* Mobile Devices */
@media screen and (max-width:480px) {
    .sidebar {
        width: 50px;
        height: 100%;
        /* debug */
        /* background-color: pink; */
    }

    .header {
        width: calc(100% - 50px);
    }

    .content {
        width: calc(100% - 50px);
        height: 100%;
    }

    .sidebar span,
    .nav-playlists,
    .logo {
        display: none;
    }

    .nav-selected {
        border-left: none;
        color: white;
    }

    .sidebar-top-nav li {
        padding: 0;
        margin: auto;
    }

    .sidebar-nav ul {
        padding-top: 10px;
    }

    .logo-mobile {
        display: block;
        width: 50%;
        margin: auto;
        padding-top: 5px;
    }

    .sidebar hr {
        display: none;
    }

    .sidebar-bottom {
        margin: 0 auto;
    }

    .profile img {
        width: 20px;
        max-width: 300%;
        justify-self: center;
    }

    .download img {
        display: none;
    }

    .col {
        width: calc(100% / 2)
    }

    .footer-content .right {
        gap: 5px;
    }

    .right .volume-bar-background {
        width: 60px;
    }

}